@import url('https://fonts.googleapis.com/css?family=Hind:700');

.profile {
    font-size: 100px;
    color: darkblue;
    font-family: 'Hind', sans-serif;
    text-align: center;
}

#card {
    text-align: center;
    margin: 0 auto;
}
