@import url('https://fonts.googleapis.com/css?family=Hind:700');

.profile {
    font-size: 50px;
    color: #12355b;
    font-family: 'Hind', sans-serif;
    text-align: center;
    padding: 10px;
}

#card {
    display: inline-block;
    margin: 20px;
    background-color: #f9f9f9;
    padding: 0 50px 0 50px;
    max-width: 500px;
    border-radius: 15px;
}

.media {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

#profilecontainer {
    text-align: center;
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
}

#profileuser {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    margin-top: -15px;
    text-transform: uppercase;
}

#profilecontent {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}
