@keyframes socialShareAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

<<<<<<< HEAD
.socialShareContainer {
    visibility: visible;
    z-index: 999;
}
    .socialShareButton {
        height: 50px;
        line-height: 25px;
        padding: 0px 25px;
        background: #666666;
        color: #FFFFFF;
        cursor: pointer;
    }
    .closeShare {
        display: none;
        opacity: 0;
    }
    .openshare {
        display: block;
        opacity: 1;
        animation: socialShareAnimation 1s;
    }
    i {
        font-size: 50px;
        color: #666666;
        margin: 0px 10px;
    }
=======
.socialShareContainer

.socialShareButton {
    height: 50px;
    line-height: 25px;
    padding: 0px 25px;
    background: #666666;
    color: #FFFFFF;
    cursor: pointer;
}

.closeShare {
    display: none;
    opacity: 0;
}

.openshare {
    display: block;
    opacity: 1;
    animation: socialShareAnimation 1s;
}

i {
    font-size: 50px;
    color: #666666;
    margin: 0px 10px;
}

>>>>>>> c25a1422ad493337a2bd7deb6100c4d5e898bc40
