@import url('https://fonts.googleapis.com/css?family=Hind:700');

.preview {
    width: 400px
}
label + .MuiInput-formControl-261 {
    margin-top: -10px;
}

.MuiFormControl-fullWidth-241 {
    margin: 0;
}

#up {
    margin: 0;
    font-family: 'Hind', sans-serif;
    padding: 0;
}

#file {
    padding-top: 10px;
}

#title {
    color: blue;
}
#description {
    color: blue;
}

#upload {
    background-color: #bfcde7;
    width: 79%;
    height: 300px;
    overflow: hidden;
}

#uploaddiv {
    padding: 20px;
    display: block;
}

#button1 {
    margin-top: 15px;
    width: 150px;
    font-size: 15px;
}
