@import url('https://fonts.googleapis.com/css?family=Hind:700');

.preview {
    width: 400px
}

#up {
    margin: 0;
    font-family: 'Hind', sans-serif;
    padding: 0;
}

#title {
    color: blue;
}
#description {
    color: blue;
}

#upload {
    background-color: green;
    width: 1025px;
}

#uploaddiv {
    padding: 20px;
}

#button1 {
    margin-top: 15px;
    width: 150px;
    font-size: 15px;
}
