@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');


#root {
    width: 100%;
    margin: 0 auto;
}

#gallery {
    border: 2px solid darkblue;
    border-radius: 5px;
}

body {
    margin: 0;
}


.App {
    background-color: blue;
    height: 100vh;
    width: 100vw;
}

