@import url('https://fonts.googleapis.com/css?family=Hind:700');

#header {
    font-size: 50px;
    margin: 0;
    font-family: 'Hind', sans-serif;
    text-align: center;
    vertical-align: middle;
    padding: 7px 0 0 6px;
}

#menu {
    height: 50px;
    width: 50px;
    display: none;
}

.hidden {
    visibility: hidden;
}


@media only screen and (max-width: 1000px) {
    #menu {
        display: block;
    }
    .link {
        visibility: hidden;
    }
}

#appbar {
    background-color: #12355b;
}
